<app-navbar></app-navbar>

<div class="container mt-5">
  <h2>Finalisation de votre achat</h2>
  <form (ngSubmit)="processPayment()" #paymentForm="ngForm">
    <div class="mb-3">
      <label for="cardNumber" class="form-label">Numéro de carte (16 caractères)</label>
      <input type="text" class="form-control" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" required minlength="16" maxlength="16">
    </div>
    <div class="mb-3">
      <label for="expiryDate" class="form-label">Date d'expiration (MM/AA)</label>
      <input type="text" class="form-control" id="expiryDate" [(ngModel)]="expiryDate" name="expiryDate" required pattern="^(0[1-9]|1[0-2])\/\d{2}$">
    </div>
    <div class="mb-3">
      <label for="cvc" class="form-label">CVC (3 Caractères)</label>
      <input type="text" class="form-control" id="cvc" [(ngModel)]="cvc" name="cvc" required maxlength="3">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!paymentForm.valid || !validateCardNumber() || !validateExpiryDate() || !validateCVC()">Confirmer le paiement</button>
  </form>
  <div *ngIf="showConfirmation" class="alert alert-success mt-3">
    Votre commande a été enregistrée avec succès. Vous serez redirigé dans un instant.
  </div>
</div>
