<app-navbar></app-navbar>

<div class="container mt-4">
    <h2 class="mb-4">Vos Paiements</h2>
    <div *ngIf="paiements.length > 0; else noPaiements">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID Paiement</th>
            <th scope="col">ID Commande</th>
            <th scope="col">Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paiement of paiements; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ paiement.idPaiement }}</td>
            <td>{{ paiement.idCommande }}</td>
            <td>{{ paiement.montant | currency:'EUR' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noPaiements>
      <div class="alert alert-warning" role="alert">
        Aucun paiement trouvé pour vos commandes.
      </div>
    </ng-template>
</div>
  