<app-navbar></app-navbar>

<div class="container mt-4">
    <h2>Liste des Commandes</h2>
    <div *ngIf="commandes.length === 0">
      <p>Aucune commande trouvée.</p>
    </div>
  
    <table class="table" *ngIf="commandes.length > 0">
      <thead class="thead-light">
        <tr>
          <th>ID Commande</th>
          <th>ID Client</th>
          <th>Date de la Commande</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes">
          <td>{{ commande.idCommande }}</td>
          <td>{{ commande.idClient }}</td>
          <td>{{ commande.dateCommande }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="voirDetails(commande.idCommande!)">Détails</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  