<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <img [src]="produit.urlImage" class="card-img-top" alt="Image de produit" *ngIf="produit">
          <div class="card-body">
            <h2 class="card-title">{{ produit?.nomProduit }}</h2>
            <p class="card-text">{{ produit?.description }}</p>
            <p class="h4">
              <span class="badge badge-secondary">Prix : {{ produit?.prix | currency:'EUR' }}</span>
            </p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary" (click)="goBack()">Retour à la liste</button>
              <button class="btn btn-success" (click)="addToCart(produit)">Ajouter au panier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
